<!DOCTYPE html>
<html>
  <head>
    <base href="/" />
    <title>Mercalisty.com – tu lista de compras de El Corte Inglés, Carrefour</title>
    <%= csrf_meta_tags %>

    <% if Rails.env.development? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-17824914-8"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-17824914-8');
      </script>
    <% end %>

    <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'mercalista' %>
    <%= stylesheet_pack_tag 'mercalista' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
