<!DOCTYPE html>
<html>
  <head>
    <base href="/" />
    <title>Mercalisty.com – tu lista de compras de Carrefour, Corte Inglés y otros.</title>
    <%= csrf_meta_tags %>

    <script>
      if (window.environment == null)
        window.environment = '<%= Rails.env.to_s %>';

      window.isMobile = <%= browser.device.mobile? ? 'true' : 'false' %>;

      // Make local user data available to javascript
      window.currentUser = {
        id: <%= current_user.try(:id) %>,
        email: '<%= current_user.try(:email) %>',
        first_name: '<%= current_user.try(:first_name) %>',
        last_name: '<%= current_user.try(:last_name) %>'
      }

      window.routes = {
        user_google_oauth2_omniauth_authorize: '<%= user_google_oauth2_omniauth_authorize_path %>'
      }
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-55NK79L');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-17824914-8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-17824914-8');
    </script>

    <% if browser.device.mobile? %>
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <% end %>

    <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'mercalista' %>
    <%= stylesheet_pack_tag 'mercalista' %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-55NK79L"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%= yield %>
  </body>
</html>
